.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll .nav-link:hover {
  color: #1266f1;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: white;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
  
}

body {
  background-color: #eee;
}

.body {
  background-color: #eee;
}

.iframe{
    margin: auto;   
}

.logo{
    width: 100%;
    text-align: center;
    font-family: verdana;
    color: darkred;
    background-color: white;
    margin: auto;
}

.inscripcion{
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    background-color: #CD5C5C;
    font-family: verdana;
    margin: auto;
}

.fecha_donacion{
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    font-family: verdana;
    background-color: #FFF8DC;
    margin: auto;
}

.info_donante{
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    background-color: #CD5C5C;
    font-family: verdana;
    margin: auto;
}
.info_d{
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    font-family: verdana;
    background-color: #FFF8DC;
    margin: auto;
}
.cuestionario{
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    background-color: #CD5C5C;
    font-family: verdana; 
    margin: auto;
}
.cuestionario_per{
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    font-family: verdana;
    background-color: #FFF8DC;
    margin: auto;
}

body {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/011/011/887/small/drop-blood-character-mascot-vector.jpg);
    }
    
    .hero-section {
      padding: 80px ;
      text-align: justify;
    }
    
    .hero-section h1 {
      font-size: 36px;
    }
    
    .hero-section p {
    text-align: justify; 
    }
    
    .projects-section {
      padding: 100px ;
      text-align: justify;
    }
    
    .projects-section h2 {
    font-size: 32px;
    }
    
    .projects-section .card {
      text-align: justify;
      
    }
    
    footer {
      padding: 10px ;
      background-color: #df977b;
    }
    .container-fluid{
        background-image: url(https://img.freepik.com/vector-premium/gota-sangre-divertida-feliz-linda-corazon-burbuja-discurso-ilustracion-personaje-kawaii-dibujos-animados-linea-plana_92289-1910.jpg);
        height: 100vh;
    }
    
    .card-section {
        height: 100vh;
        background-image: url(https://st4.depositphotos.com/8950810/30141/v/600/depositphotos_301415714-stock-illustration-cute-happy-healthy-smiling-blood.jpg);
      }
      
      .card {
        max-width: 18rem;
        background-color: #FCF3CF ;
      }
      
      .card-img-top {
        height: 200px;
        width: 200px;
        object-fit: cover;
        margin: 0 auto;
      }
      
      /* Estilos de MDBootstrap */
      
      .card-title {
        margin-bottom: 0.5rem;
      }
      
      .card-text {
        text-align: justify;
      }

      body{ 
        font-family: 'Noto Sans', sans-serif;
        background-image: url(https://img.freepik.com/vector-premium/sangre-icono-tubo-ensayo-estilo-comic-ilustracion-vector-dibujos-animados-matraz-laboratorio-sobre-fondo-aislado-liquido-concepto-negocio-signo-efecto-salpicadura-vaso_157943-11034.jpg?w=360);
        height: 50px;
      }
      
      
      .contact_form{  
        width: 460px; 
        height: auto;
        margin: 80px auto;
        border-radius: 10px;  
        padding-top: 30px;
        padding-bottom: 20px;  
        background-color: #fadde0; 
        padding-left: 30px; 
      }
      
      
      input{
        background-color: #fbfbfb; 
        width: 408px; 
        height: 40px; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color: #b65649; 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 20px; 
      }
      
      
      textarea{
        background-color: #fbfbfb; 
        width: 405px; 
        height: 150px; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color: #b65649; 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 20px; 
        padding-top: 15px; 
      }
      
      
      label{
        display: block; 
        float: center;  
      }
      
      
      button{
        height: 45px; 
        padding-left: 5px;
        padding-right: 5px;   
        margin-bottom: 20px; 
        margin-top: 10px;   
        text-transform: uppercase;
        background-color: #b65649; 
        border-color: #b65649; 
        border-style: solid; 
        border-radius: 10px;  
        width: 420px;   
        cursor: pointer;
      }
      .card{
        background-color: #f0aaa1;
      }
      